@media only screen and (max-width: 1024px) {

.row{
	padding: 0 30px;
}
.sec1-content h1::before{
	width: 100%;
	height: 170px;
}
.sec1-content h1::after{
	width: 100%;
}
.section2{
	height: auto;
	min-height: auto;
}
.sec2-1{
	width: 100%;
	margin-bottom: 30px;
}
.sec2-2{
	width: 100%;
}
.sec2-content{
	display: block;
}
.tabs_menu li span{
	font-size: 22px;
}
.tabs .item{
	height: 450px;
	min-height: 450px;
}
.his2 {
    width: 100%;
    padding: 0px 0 0 0px;
    text-align: center;
    margin-bottom: 30px;
}
.his2 img{
	width: 150px;
	margin: auto;
	margin-bottom: 30px;
}
.his1{
	width: 100%;
}
.every-about span{
	font-size: 30px;
}
.every-about p{
	font-size: 30px;
}
.contacts-box{
	display: block;
}
.cont1{
	width: 100%;
	margin-bottom: 30px;
}
.every-cont{
	justify-content: center;
}
.cont2{
	width: 100%;
}
.nav-menu{
	display: none;

}

}
@media only screen and (max-width: 765px) {

.row{
	padding: 0 20px;
}
.section1{
	height: 500px;
	min-height: 500px;
}
.sec1-content h1{
	font-size: 35px;
}
.sec1-content h1::before{
	height: 100px;
}
.sec1-content h1::after{
	height: 70px;
}
.sec2-content h3{
	font-size: 30px;
}
.sec2-content p{
	font-size: 16px;
}
h2.heading{
	font-size: 40px;
}
.tabs_menu li {
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
}
.tabs .item{
	height: 250px;
	min-height: 250px;
}
.sec3-content .owl-theme .owl-nav {
    width: 100%;
    margin-top: 0;
    height: 0;
    position: absolute;
    top: calc(50% - 50px/2);
    z-index: 2;
}
.sec3-content .owl-theme .owl-nav .owl-next {
    background: url(../img/arr2.png);
    width: 28px;
    height: 50px;
    right: 10px;
}
.sec3-content .owl-theme .owl-nav .owl-prev {
    background: url(../img/arr1.png);
    width: 28px;
    height: 50px;
    left: 10px;
}
.tabs_menu li span{
	font-size: 18px;
}
.every-his p span {
    font-size: 20px;
}
.every-his p {
    font-size: 20px;
}
.his1 span {
    font-size: 30px;
    display: block;
    margin-bottom: 25px;
}
.his1 p{
	font-size: 16px;
}
.every-about span {
    font-size: 22px;
    margin-bottom: 10px;
}
.every-about p {
    font-size: 22px;
}
.otz-wrap{
	padding: 0;
	display: block;
}
.otz1{
	width: 100%;
	margin-bottom: 15px;
}
.otz2{
	width: 100%;
	padding: 0;
}
.otz-word{
	font-size: 16px;
	padding: 20px 30px;
}
.every-cont img{
	max-height: 40px;
}
.every-cont{
	margin-bottom: 20px;
}
.every-cont a{
	font-size: 20px;
}
.nav-menu{
	display: none;

}
.about-text p{
    font-size: 16px;
}
footer p{
	font-size: 16px;
}
.footer{
	display: block;
	text-align: center;
}
.foot1{
	width: 100%;
	float: left;
	margin-bottom: 20px;
}
.foot2{
	width: 100%;
	float: left;
	margin-bottom: 20px;
}
.foot3{
	width: 100%;
	float: left;
	margin-bottom: 20px;
}
.cont2 iframe{
	height: 280px;
}

}